@using System.Threading
@using System.Web.Optimization
@using Abp.Configuration
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@using ABPCMS
@using ABPCMS.Configuration
@{
    Layout = null;
    SetAntiForgeryCookie();
    var uiTheme = SettingManager.GetSettingValue(AppSettingNames.UiTheme);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>AdminLTE 2 | Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
    <!-- Bootstrap 3.3.4 -->
    <script src="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/bootstrap/js/bootstrap.js"></script>
    <link href="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome 4.3.0 -->
    <!-- Ionicons 2.0.0 -->
    <link href="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/dist/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />

    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.3 -->
    <link href="~/Scripts/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Scripts/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/Content/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <link href="~/Scripts/Toastr/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/Toastr/toastr.min.js"></script>
    <link href="~/Abp/Framework/styles/abp.css" rel="stylesheet" />
    <script src="~/Abp/Framework/scripts/abp.js"></script>
    <script src="~/Abp/Framework/scripts/libs/abp.jquery.js"></script>

    <style type="text/css">
        body {
            font-family: verdana,helvetica,arial,sans-serif;
            padding: 0 !important;
            margin: 0;
        }

        .content {
            min-height: 700px;
            height: auto !important;
        }
        .wrapper {
            min-height: 100%;
            height: 800px !important;
        }

        .main-header .navbar-custom-menu, .main-header .navbar-right {
            float: right !important;
        }

        vendor-prefixes.less:76 * {
            box-sizing: border-box !important;
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
        }
        .main-header .navbar-custom-menu, .main-header .navbar-right {
            float: right !important;
            margin-right: 300px !important;
        }
        /*.sidebar {
            display: none !important;

        }*/
    </style>

    @Styles.Render("~/Bundles/vendor/css")

    @RenderSection("styles", required: false)
    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

</head>

<body class="hold-transition skin-blue sidebar-mini"  >

    <div class="wrapper">
        @Html.Action("_MainHeader", "Layout")
        @Html.Action("SideBarNav", "Layout", new { activeMenu = ViewBag.ActiveMenu })

        <div class="content-wrapper">
            @RenderBody()
        </div>
        @Html.Action("_MainFooter", "Layout")
        <div class="control-sidebar-bg"></div>
    </div>
    <script src="~/Scripts/AdminLTE-2.1.1/AdminLTE-2.1.1/dist/js/app.min.js"></script>


    @Scripts.Render("~/Bundles/vendor/js/bottom")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    <!-- SignalR scripts -->
    <script src="~/signalr/hubs"></script>
    @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.signalr.js")

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)

</body>
</html>
